*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    color: #424874;
}

.info-btn{
    width: 25px;
    height: 25px;
    position: fixed;
    background-color:#d0c7f7;
    border-radius: 50%;
    border: 2px solid #424874;
    transition: all 0.3s;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 0.7rem;
    margin-right: 15px;
    font-weight: 900;
}

.info-btn:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.text-align-right{
    text-align: right;
}

body{
    background-color: #F4EEFF;
}

.btn{
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    height: 3rem;
    margin-bottom: 5px;
    width: 9rem;
    border: 2px solid #424874;
    background-color: #A6B1E1;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #95a2dd;
    font-size: 1.1rem;
    cursor: pointer;
    height: 3.2rem;
    width: 10rem;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

/* header section */

.main-header{
    background-color: #DCD6F7;
    display: flex;
    border-radius: 10px;
    margin-left:1rem;
    height: 100px;
    align-items: center;
    margin: 0.25rem 0.5rem;
    padding: 0px 5%;
}

.main-header div{
    margin-left:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-header #add-task{
    margin-right: 2rem;
}

.main-header #delete-all{
    background-color: rgb(241, 120, 120);
}

#delete-all:hover{
    background-color: rgb(243, 67, 67);
}

/* element section */
#elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.element{
    display: none;
    background-color: #b7c2f7;
    height: 80px;
    margin: 1% 2%;
    width: 45%;
    border-radius: 7px;
    justify-content: space-between;
}

.element-heading{
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    height:1.5rem;
    font-size: 1.17rem;
}

.element-desc{
    text-overflow: ellipsis;
    height: 2.5rem;
    overflow: hidden;
}

.element.visible{
    display: inline-flex;
}

.element:hover{
    background-color: #A6B1E1;
}

.element-body{
    padding: 5px 10px;
    display: flex;
    width: 60%;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    text-overflow: clip;
}

.element-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element-buttons{
    display: flex;
}

.element-btn{
    width: 5rem;
    border: none;
}

.element-btn i{
    font-size: 2.5rem;
}

.check{
    background-color: lightgreen;
}

.check:hover{
    background-color: lime;
    font-size: 2.7rem;
    cursor: pointer;
}

.uncheck{
    border-radius: 0px 7px 7px 0px;
    background-color: rgb(241, 120, 120);
}

.uncheck:hover{
    cursor: pointer;
    font-size: 2.7rem;
    background-color: rgb(243, 67, 67);
}

/* backdrop */

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

/* modals */

.modal{
    position: fixed;
    background-color:#DCD6F7;
    width: 45%;
    border-radius: 10px;
    padding: 1rem;
    z-index: 2;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #424874;
}

.modal.visible{
    display: block;
}

.modal-content{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.modal-content label{
    margin: 0.5rem;
}

.modal-content-elemts{
    border: 1px solid #424874;
    padding: 0.4rem;
    outline: none;
}

.modal-content-elemts:hover{
    background-color: #F4EEFF;
}

textarea{
    resize: none;
    width: 100%;
}

.modal-buttons{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-button{
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    font-weight: bold;
    width: 48%;
    border: 2px solid #424874;
}

.confirm{
    background-color: lightgreen;

}

.cancel{
    background-color: rgb(241, 120, 120);
}

.confirm:hover{
    background-color: lime;
    cursor: pointer;
}

.cancel:hover{
    cursor: pointer;
    background-color: rgb(243, 67, 67);
}

#completed-task-modal h3{
    text-align: center;
}

/* task information Modal  */
#task-info-modal .modal-content{
    margin-bottom: 0;
}
#task-info-modal p{
    margin: 0 0.5rem;
    background-color:#F4EEFF;
    border-radius: 5px;
    padding: 0.5rem;
}

#task-info-modal .edit{
    position:absolute;
    left: 97%;
    top: 94%;
    border-radius:8px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(240, 231, 231);
    border: 2px solid #424874;
    transition: all 0.3s;
}
#task-info-modal #task-info-desc{
    font-weight: 100;
}

.edit i{
    font-size: 1.5rem;
}

#task-info-modal .edit:hover{
    left: 96%;
    top: 93%;
    width: 2.7rem;
    height: 2.7rem;
    cursor:pointer;
    background-color:rgb(202, 199, 199) ;
}

@media screen and (max-width : 1200px){
    .modal{
        width: 60%;
    }
}

@media screen and (max-width : 850px) {
    #elements{
        flex-wrap: wrap;
    }
    .element{
        width: 90%;
    }
    .main-header{
        justify-content:space-around;
    }
    .modal{
        width: 70%;
    }
}

/* Mobile UI */
@media screen and (max-width : 650px) {
    .main-header #add-task{
        margin-right: 0;
    }
    .btn{
        font-weight: bold;
        height: 2.5rem;
        width: 6rem;
        font-size: 0.75rem;
    }
    .btn:hover{
        font-size: 0.9rem;
        height: 2.65rem;
        width: 7rem;
    }

    .element-btn{
        width: 2.5rem;
        height: 50%;
    }
    .element-btn i{
        font-size: 1.5rem;
    }
    .element-buttons{
        flex-direction: column;
    }
    .uncheck{
        border-radius: 0px 0px 7px 0px;
    }
    .check{
        border-radius: 0px 7px 0px 0px;
    }
    .element-btn:hover{
        font-size: 1.7rem;
    }
    .modal{
        position: fixed;
        background-color:#DCD6F7;
        width: 80%;
        border-radius: 10px;
        padding: 1rem;
        z-index: 2;
        display: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #424874;
    }
}